.cart_price-input {
    width: 60px;
    height: 40px;
}
.cart_price-input-error {
    padding-top: 5px;
    line-height: initial;
}

.cart_price-row {
    line-height: 40px;
}

.empty-cart {
    margin-bottom: 16px;
}

.cart_price tbody > tr:last-child > td {
    border-width: 0 0 2px;
    color: #363636;
}

.books_list {
    max-height: 500px;
    overflow: auto;
    padding: 5px;
}

.book_description {
    min-height: 70px;
}
.book_special-offert {
    margin-left: 8px;
}
